<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net462" />
  <package id="MegaApiClient" version="1.8.1" targetFramework="net462" />
  <package id="Mono.Nat" version="2.0.1" targetFramework="net462" />
  <package id="MonoTorrent" version="1.0.21" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="ReusableTasks" version="1.0.7" targetFramework="net462" />
</packages>